@font-face {
  font-family: areo;
  src: url(areoGX.ttf);
}

@keyframes pjanim {
  0% {
    font-size: 30px;
    font-variation-settings: "wght" 400;
  }
  100% {
    font-size: 40px;
    font-variation-settings: "wght" 100;
  } 
}

    body {
  animation: 3s infinite pjanim;
  background-color: #a5d5;
  font-family:areo;
  font-variation-settings:
    "wght" 400;
}
